/* reset */

body,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
th,
td,
p,
blockquote,
pre,
form,
fieldset,
legend,
input,
button,
textarea,
figure,
figcaption,
hr {
  margin: 0;
  padding: 0;
}

body {
  font: 12px/1.5 "Microsoft YaHei", Arial;
  color: #333;
}

select,
input,
button {
  vertical-align: middle;
  font-size: 100%;
}

ul,
ol {
  list-style: none;
}

fieldset,
img {
  border: 0;
}

em,
var,
i {
  font-style: normal;
}

a:link,
a:visited {
  text-decoration: none;
}

input[type="search"],
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="date"],
button,
select,
textarea,
input[type="submit"] {
  appearance: none;
  border-image: none;
  border-radius: 0;
  border: 0 none;
  outline: none;
  box-sizing: border-box;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

@media screen and (max-width: 767px) {
  body {
    font: 16px/1.5 "Microsoft YaHei", Arial;
  }
}

@font-face {
  font-family: 'Three';
  /* project id 400654 */
  src: url('//at.alicdn.com/t/font_400654_xg7yvu6n7kuzncdi.eot');
  src: url('//at.alicdn.com/t/font_400654_xg7yvu6n7kuzncdi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_400654_xg7yvu6n7kuzncdi.woff') format('woff'), url('//at.alicdn.com/t/font_400654_xg7yvu6n7kuzncdi.ttf') format('truetype'), url('//at.alicdn.com/t/font_400654_xg7yvu6n7kuzncdi.svg#iconfont') format('svg');
}

body,
html {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.swiper-container .swiper-wrapper {
  position: absolute;
  width: 100%;
}

.swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
}

/*main*/

.container .swiper-button-next {
  position: fixed;
  bottom: 10px;
  left: 50%;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  font-family: 'Three';
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  color: #af363b;
  font-weight: bold;
  animation: next-animation 2s ease-in-out infinite;
}

.container .container-wrapper {
  position: absolute;
  width: 100%;
  height: 10000%;
  overflow: hidden;
  /* 花花花 */
}

.container .container-wrapper .page-slide {
  float: left;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-top: 1px;
  overflow: hidden;
}

.container .container-wrapper .page-slide .logo {
  width: 358px;
  height: 130px;
  display: block;
  background: url('../img/1-6/logo.png') no-repeat 50%;
  margin: 45px auto 0;
  position: relative;
  z-index: 9;
  transition: all 0.6s ease-in-out;
  transform: translate3d(0, -300px, 0) scale(1);
}

.container .container-wrapper .page-slide.swiper-slide1 {
  background: url('../img/1-6/bg1.jpg') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide1 h1 {
  margin: 140px auto 0;
  width: 373px;
  height: 570px;
  background: url('../img/1-6/yaoqing.png') no-repeat 50%;
  font-size: 0;
  transition: all 1.5s ease-in-out 0.3s;
  transform: translate3d(0, 0, -800px) scale3d(0, 0, 0);
}

.container .container-wrapper .page-slide.swiper-slide1 footer {
  position: absolute;
  bottom: 80px;
  left: 0;
  width: 100%;
  height: 126px;
  background: url('../img/1-6/foot-hint.png') no-repeat 50%;
  font-size: 0;
  transition: all 0.7s ease-in-out;
  transform: translate3d(0, 600px, 0) scale(0);
}

.container .container-wrapper .page-slide.swiper-slide2 {
  background: url('../img/1-6/bg2.jpg') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide2 figure {
  width: 178px;
  height: 585px;
  position: absolute;
  top: 260px;
  right: 70px;
  z-index: 2;
  font-size: 0;
  overflow: hidden;
}

.container .container-wrapper .page-slide.swiper-slide2 .yun {
  position: absolute;
  left: 0;
  top: 0;
  width: 750px;
  height: 100%;
  background-image: url('../img/1-6/yunduo.png');
  background-repeat: repeat-x;
  background-size: 100%;
}

.container .container-wrapper .page-slide.swiper-slide3 {
  background: url('../img/1-6/bg3.jpg') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide3 .yun {
  position: absolute;
  left: 0;
  top: 0;
  width: 750px;
  height: 100%;
  background: url('../img/1-6/yunduo.png') no-repeat 50% 50%;
  background-size: 100%;
}

.container .container-wrapper .page-slide.swiper-slide3 footer {
  position: absolute;
  left: 0;
  bottom: 80px;
  width: 100%;
  height: 106px;
  font-size: 0;
  background: url('../img/1-6/foot-pajero.png') no-repeat 50% 50%;
  transition: all 0.7s ease-in-out;
  transform: translate3d(0, 600px, 0) scale(0);
}

.container .container-wrapper .page-slide.swiper-slide3 .cars {
  position: absolute;
  left: 0;
  bottom: 215px;
  width: 100%;
}

.container .container-wrapper .page-slide.swiper-slide3 .cars .car1 {
  position: relative;
  z-index: 1;
  display: block;
  width: 528px;
  height: 460px;
  margin: 0 auto;
  background: url('../img/1-6/car-big.png') no-repeat 50% 50%;
  transition: all 0.7s ease-in-out 0.4s;
  transform: translate3d(0, 0, -800px) scale(0);
}

.container .container-wrapper .page-slide.swiper-slide3 .cars .car1 em {
  opacity: 0;
  position: absolute;
  bottom: 163px;
  width: 52px;
  height: 22px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 2px -1px 4px 10px rgba(255, 255, 255, 0.5);
}

.container .container-wrapper .page-slide.swiper-slide3 .cars .car1 em.dengleft {
  left: 54px;
}

.container .container-wrapper .page-slide.swiper-slide3 .cars .car1 em.dengright {
  right: 57px;
}

.container .container-wrapper .page-slide.swiper-slide3 .cars .car2 {
  position: absolute;
  top: -132px;
  left: 0;
  width: 600px;
  height: 513px;
  background: url('../img/1-6/car-left1.png') no-repeat 0% 50%;
  transition: all 0.7s ease-in-out 1.2s;
  transform: translate3d(100px, 0, 0) scale(0);
}

.container .container-wrapper .page-slide.swiper-slide3 .cars .car2 em {
  position: absolute;
  top: -114px;
  left: 30px;
  width: 191px;
  height: 114px;
  background: url('../img/1-6/left-hint.png') no-repeat 50%;
  transition: all 0.7s ease-in-out 1.5s;
  transform: translate3d(-100px, 0, -800px) scale(0);
}

.container .container-wrapper .page-slide.swiper-slide3 .cars .car3 {
  position: absolute;
  top: -110px;
  right: 0;
  width: 386px;
  height: 348px;
  background: url('../img/1-6/car-right.png') no-repeat 50% 50%;
  transition: all 0.7s ease-in-out 0.8s;
  transform: translate3d(-100px, 0, -800px) scale(0);
}

.container .container-wrapper .page-slide.swiper-slide3 .cars .car3 em {
  position: absolute;
  top: -150px;
  left: 20px;
  width: 191px;
  height: 146px;
  background: url('../img/1-6/right-hint.png') no-repeat 50%;
  transition: all 0.7s ease-in-out 1s;
  transform: translate3d(0, -300px, -800px) scale(0);
}

.container .container-wrapper .page-slide.swiper-slide4 {
  background: url('../img/1-6/bg4.jpg') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide4 .container3 {
  position: absolute;
  bottom: 336px;
  left: 0;
  width: 100%;
  height: 596px;
  overflow: initial;
}

.container .container-wrapper .page-slide.swiper-slide4 .container3 .swiper-wrapper3 {
  width: 1000%;
}

.container .container-wrapper .page-slide.swiper-slide4 .container3 figure {
  float: left;
  width: 100%;
}

.container .container-wrapper .page-slide.swiper-slide4 .container3 figure img {
  width: 100%;
}

.container .container-wrapper .page-slide.swiper-slide4 .container3 .swiper-pagination {
  position: absolute;
  left: 0;
  bottom: -16px;
  width: 100%;
  height: 31px;
  background: url('../img/1-6/pagination.png') no-repeat 50%;
}

.container .container-wrapper .page-slide.swiper-slide4 .container3 .swiper-pagination span {
  position: absolute;
  top: 45px;
  width: 26px;
  height: 204px;
  padding: 44px 7px 0;
  background: url('../img/1-6/pagination-bullet.png') no-repeat 50%;
  font-size: 26px;
  line-height: 30px;
  color: #a72126;
}

.container .container-wrapper .page-slide.swiper-slide4 .container3 .swiper-pagination span:nth-of-type(1) {
  left: 167px;
}

.container .container-wrapper .page-slide.swiper-slide4 .container3 .swiper-pagination span:nth-of-type(2) {
  left: 356px;
}

.container .container-wrapper .page-slide.swiper-slide4 .container3 .swiper-pagination span:nth-of-type(3) {
  right: 168px;
}

.container .container-wrapper .page-slide.swiper-slide4 .container3 .swiper-pagination span.swiper-pagination-bullet-active {
  color: #fff;
  background: url('../img/1-6/pagination-active.png') no-repeat 50%;
}

.container .container-wrapper .page-slide.swiper-slide7 {
  position: relative;
  background: url('../img/7/bg.jpg') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide7 .yun-wrapper .cloud {
  width: 750px;
  height: 120px;
  margin-top: 30px;
  background: url('../img/7/yun1.png') no-repeat 50%;
  background-size: 100% 100%;
  transform: translate3d(-200px, 0, 0);
}

.container .container-wrapper .page-slide.swiper-slide7 .yun-wrapper .big-cloud {
  width: 750px;
  height: 314px;
  background: url('../img/7/yun2.png') no-repeat 50%;
  background-size: 100% 100%;
  transform: translate3d(200px, 0, 0);
}

.container .container-wrapper .page-slide.swiper-slide7 .zi-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding-top: 72px;
  z-index: 9;
}

.container .container-wrapper .page-slide.swiper-slide7 .zi-wrapper .title {
  width: 471px;
  height: 242px;
  margin: 0 auto;
  background: url('../img/7/top.png') no-repeat 50%;
  background-size: 100% 100%;
  transform: scale(0);
}

.container .container-wrapper .page-slide.swiper-slide7 .zi-wrapper .niao {
  width: 193px;
  height: 234px;
  float: right;
  background: url('../img/7/niao.png') no-repeat 50%;
  background-size: 100% 100%;
  transform: translate3d(0, 0, 0) scale(0);
}

.container .container-wrapper .page-slide.swiper-slide7 .car {
  position: absolute;
  right: 0;
  top: 767px;
  width: 616px;
  height: 485px;
  background: url('../img/7/car.png') no-repeat 50%;
  background-size: 100% 100%;
  transform: translate3d(679px, 0, 0);
  z-index: 15;
}

.container .container-wrapper .page-slide.swiper-slide7 .car > div {
  position: absolute;
  background-size: 100% 100%;
  opacity: 0;
  z-index: 15;
}

.container .container-wrapper .page-slide.swiper-slide7 .car .concerns1 {
  left: -12px;
  top: -326px;
  width: 80px;
  height: 416px;
  background: url('../img/7/zi-1.png') no-repeat 50%;
}

.container .container-wrapper .page-slide.swiper-slide7 .car .concerns2 {
  left: 153px;
  top: -317px;
  width: 80px;
  height: 396px;
  background: url('../img/7/zi-2.png') no-repeat 50%;
}

.container .container-wrapper .page-slide.swiper-slide7 .car .concerns3 {
  left: 270px;
  top: -281px;
  width: 40px;
  height: 413px;
  background: url('../img/7/zi-3.png') no-repeat 50%;
}

.container .container-wrapper .page-slide.swiper-slide7 .car .concerns4 {
  left: 345px;
  top: -372px;
  width: 80px;
  height: 436px;
  background: url('../img/7/zi-4.png') no-repeat 50%;
}

.container .container-wrapper .page-slide.swiper-slide7 .car .concerns5 {
  left: 474px;
  top: -402px;
  width: 40px;
  height: 462px;
  background: url('../img/7/zi-5.png') no-repeat 50%;
}

.container .container-wrapper .page-slide.swiper-slide7 .car .concerns6 {
  left: 560px;
  top: -332px;
  width: 80px;
  height: 435px;
  background: url('../img/7/zi-6.png') no-repeat 50%;
}

.container .container-wrapper .page-slide.swiper-slide7 .shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 15;
}

.container .container-wrapper .page-slide.swiper-slide7 .shade > img {
  width: 692px;
  height: 874px;
  margin: 210px 29px 0;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide7 .shade:after {
  content: 'X';
  position: absolute;
  top: 163px;
  right: 29px;
  width: 26px;
  height: 26px;
  color: #fff;
  text-align: center;
  line-height: 27px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.container .container-wrapper .page-slide.swiper-slide8 {
  padding-top: 70px;
  background: url('../img/8/bg.jpg') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide8 .word {
  position: absolute;
  left: 76px;
  top: 210px;
  width: 623px;
  height: 0;
  background: url('../img/8/word.png') no-repeat 50%;
  background-size: 100% 100%;
  z-index: 1;
}

.container .container-wrapper .page-slide.swiper-slide8 .word-bg {
  width: 750px;
  height: 445px;
  opacity: 0;
  transform: rotate(-180deg) scale(2);
  background: url('../img/8/word-bg.png') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide8 .car1 {
  height: 97px;
}

.container .container-wrapper .page-slide.swiper-slide8 .car1 .content {
  width: 254px;
  height: 181px;
  float: right;
  background: url('../img/8/car1.png') no-repeat 50%;
  background-size: 100% 100%;
  transform: translate3d(-58px, -83px, 0) scale(0);
}

.container .container-wrapper .page-slide.swiper-slide8 .car2 {
  width: 419px;
  height: 187px;
  background: url('../img/8/car2.jpg') no-repeat 50%;
  background-size: 100% 100%;
  transform: translate3d(-429px, -69px, 0);
}

.container .container-wrapper .page-slide.swiper-slide8 .car3 {
  width: 687px;
  height: 319px;
  margin-top: 80px;
  background: url('../img/8/car3.png') no-repeat 50%;
  background-size: 100% 100%;
  transform: translate3d(-697px, -69px, 0);
}

.container .container-wrapper .page-slide.swiper-slide9 .wrapper {
  width: 500%;
  height: 100%;
  clear: both;
  overflow: hidden;
}

.container .container-wrapper .page-slide.swiper-slide9 .wrapper li {
  float: left;
  position: relative;
  width: 20%;
  height: 100%;
  background: url('../img/9-13/bg2.jpg') no-repeat 50%;
  background-size: 100% 100%;
  overflow: hidden;
}

.container .container-wrapper .page-slide.swiper-slide9 .wrapper .content1 {
  background: url('../img/9-13/bg.jpg') no-repeat 50%;
}

.container .container-wrapper .page-slide.swiper-slide9 .wrapper .content1 .name {
  width: 334px;
  height: 99px;
  margin: 70px 0 0 54px;
  background: url('../img/9-13/name.png') no-repeat 50%;
  background-size: 100% 100%;
  transform: translate3d(0, -170px, 0);
}

.container .container-wrapper .page-slide.swiper-slide9 .wrapper .content1 .scenery {
  width: 750px;
  height: 667px;
  margin-top: 149px;
  background: url('../img/9-13/scenery1.png') no-repeat 50%;
  background-size: 100% 100%;
  opacity: 0;
}

.container .container-wrapper .page-slide.swiper-slide9 .wrapper .content1 .describe {
  position: absolute;
  top: 157px;
  right: 62px;
  width: 79px;
  height: 664px;
  margin: -9px 0 0 607px;
  background: url('../img/9-13/describe1.png') no-repeat 50%;
  background-size: 100% 100%;
  transform: translate3d(142px, 0, 0);
}

.container .container-wrapper .page-slide.swiper-slide9 .wrapper .content1 .indexes {
  width: 718px;
  height: 112px;
  margin: -145px 0 0 35px;
  background: url('../img/9-13/indexes1.png') no-repeat 50%;
  background-size: 100% 100%;
  transform: translate3d(750px, 0, 0);
}

.container .container-wrapper .page-slide.swiper-slide9 .wrapper .content2 .scenery {
  width: 750px;
  height: 552px;
  margin-top: 450px;
  background: url('../img/9-13/scenery2.png') no-repeat 50%;
  background-size: 100% 100%;
  opacity: 0;
}

.container .container-wrapper .page-slide.swiper-slide9 .wrapper .content2 .describe {
  position: absolute;
  top: 140px;
  right: 50px;
  width: 144px;
  height: 464px;
  margin: -9px 0 0 607px;
  overflow: hidden;
}

.container .container-wrapper .page-slide.swiper-slide9 .wrapper .content2 .describe div {
  transform: translate3d(144px, 0, 0);
  height: 464px;
  background: url('../img/9-13/describe2.png') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide9 .wrapper .content2 .indexes {
  width: 750px;
  height: 184px;
  margin-top: -229px;
  background: url('../img/9-13/indexes2.png') no-repeat 50%;
  background-size: 100% 100%;
  transform: translate3d(-750px, 0, 0);
}

.container .container-wrapper .page-slide.swiper-slide9 .wrapper .content3 .scenery {
  width: 750px;
  height: 1030px;
  margin-top: 55px;
  background: url('../img/9-13/scenery3.png') no-repeat 50%;
  background-size: 100% 100%;
  opacity: 0;
}

.container .container-wrapper .page-slide.swiper-slide9 .wrapper .content3 .describe {
  position: absolute;
  top: 140px;
  right: 50px;
  width: 144px;
  height: 464px;
  margin: -9px 0 0 607px;
  overflow: hidden;
}

.container .container-wrapper .page-slide.swiper-slide9 .wrapper .content3 .describe div {
  transform: translate3d(144px, 0, 0);
  height: 464px;
  background: url('../img/9-13/describe3.png') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide9 .wrapper .content3 .indexes {
  width: 750px;
  height: 124px;
  margin-top: -307px;
  background: url('../img/9-13/indexes3.png') no-repeat 50%;
  background-size: 100% 100%;
  transform: translate3d(0, 750px, 0);
}

.container .container-wrapper .page-slide.swiper-slide9 .wrapper .content4 .scenery {
  width: 750px;
  height: 1030px;
  margin-top: 140px;
  background: url('../img/9-13/scenery4.png') no-repeat 50%;
  background-size: 100% 100%;
  opacity: 0;
}

.container .container-wrapper .page-slide.swiper-slide9 .wrapper .content4 .describe {
  position: absolute;
  top: 140px;
  right: 50px;
  width: 144px;
  height: 464px;
  margin: -9px 0 0 607px;
  overflow: hidden;
}

.container .container-wrapper .page-slide.swiper-slide9 .wrapper .content4 .describe div {
  transform: translate3d(144px, 0, 0);
  height: 464px;
  background: url('../img/9-13/describe4.png') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide9 .wrapper .content4 .indexes {
  width: 750px;
  height: 124px;
  margin-top: -300px;
  background: url('../img/9-13/indexes4.png') no-repeat 50%;
  background-size: 100% 100%;
  transform: translate3d(750px, 0, 0);
}

.container .container-wrapper .page-slide.swiper-slide9 .wrapper .content5 .scenery {
  width: 750px;
  height: 804px;
  margin-top: 281px;
  background: url('../img/9-13/scenery5.png') no-repeat 50%;
  background-size: 100% 100%;
  opacity: 0;
}

.container .container-wrapper .page-slide.swiper-slide9 .wrapper .content5 .describe {
  position: absolute;
  top: 140px;
  right: 50px;
  width: 144px;
  height: 464px;
  margin: -9px 0 0 607px;
  overflow: hidden;
}

.container .container-wrapper .page-slide.swiper-slide9 .wrapper .content5 .describe div {
  transform: translate3d(144px, 0, 0);
  height: 464px;
  background: url('../img/9-13/describe5.png') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide9 .wrapper .content5 .indexes {
  width: 710px;
  height: 53px;
  margin-top: -114px;
  background: url('../img/9-13/indexes5.png') no-repeat 50%;
  background-size: 100% 100%;
  transform: translate3d(-750px, 0, 0);
}

.container .container-wrapper .page-slide.swiper-slide9 .swiper-button-next {
  position: absolute;
  transform: rotate(90deg);
  animation: next-right-animation 2s ease-in-out infinite;
}

.container .container-wrapper .page-slide.swiper-slide14 {
  overflow-x: scroll;
}

.container .container-wrapper .page-slide.swiper-slide14 .wrapper {
  width: 500%;
  height: 100%;
  clear: both;
  overflow: hidden;
}

.container .container-wrapper .page-slide.swiper-slide14 .wrapper li {
  float: left;
  width: 20%;
  height: 100%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide14 .wrapper .content1 {
  background: url('../img/14-18/bg1.jpg') no-repeat 50%;
}

.container .container-wrapper .page-slide.swiper-slide14 .wrapper .content1 .title {
  width: 0;
  height: 733px;
  margin: 147px 0 0 161px;
  background: url('../img/14-18/title.png') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide14 .wrapper .content2 {
  background: url('../img/14-18/bg2.jpg') no-repeat 50%;
}

.container .container-wrapper .page-slide.swiper-slide14 .wrapper .content3 {
  background: url('../img/14-18/bg3.jpg') no-repeat 50%;
}

.container .container-wrapper .page-slide.swiper-slide14 .wrapper .content4 {
  background: url('../img/14-18/bg4.jpg') no-repeat 50%;
}

.container .container-wrapper .page-slide.swiper-slide14 .wrapper .content5 {
  background: url('../img/14-18/bg5.jpg') no-repeat 50%;
}

.container .container-wrapper .page-slide.swiper-slide19 {
  background: url('../img/19/bg.jpg') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide19 .name {
  width: 91px;
  height: 336px;
  float: left;
  margin: 513px 0 0 215px;
  background: url('../img/19/name.png') no-repeat 50%;
  background-size: 100% 100%;
  transform: translate3d(-306px, 0, 0);
}

.container .container-wrapper .page-slide.swiper-slide19 .title {
  width: 97px;
  height: 798px;
  float: left;
  margin: 161px 0 0 20px;
  background: url('../img/19/title.png') no-repeat 50%;
  background-size: 100% 100%;
  transform: translate3d(423px, 0, 0);
}

.container .container-wrapper .page-slide.swiper-slide20 {
  background: url('../img/20/bg.jpg') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide20 .wrapper {
  clear: both;
  margin: 182px 0 0 22px;
  overflow: hidden;
}

.container .container-wrapper .page-slide.swiper-slide20 .wrapper > div {
  width: 159px;
  margin-right: 23px;
  float: left;
}

.container .container-wrapper .page-slide.swiper-slide20 .wrapper .one {
  opacity: 0;
  transform: translate3d(-182px, 0, 0);
}

.container .container-wrapper .page-slide.swiper-slide20 .wrapper .one div {
  margin-top: 62px;
  height: 647px;
  background: url('../img/20/one.jpg') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide20 .wrapper .one span {
  display: block;
  margin: 20px auto 0;
  width: 130px;
  height: 23px;
  background: url('../img/20/word-one.png') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide20 .wrapper .two {
  opacity: 0;
  transform: translate3d(-182px, 0, 0);
}

.container .container-wrapper .page-slide.swiper-slide20 .wrapper .two div {
  margin-top: 142px;
  height: 647px;
  background: url('../img/20/two.jpg') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide20 .wrapper .two span {
  display: block;
  margin: 20px auto 0;
  width: 130px;
  height: 23px;
  background: url('../img/20/word-two.png') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide20 .wrapper .three {
  opacity: 0;
  transform: translate3d(-182px, 0, 0);
}

.container .container-wrapper .page-slide.swiper-slide20 .wrapper .three div {
  height: 647px;
  background: url('../img/20/three.jpg') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide20 .wrapper .three span {
  display: block;
  margin: 20px auto 0;
  width: 130px;
  height: 23px;
  background: url('../img/20/word-three.png') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide20 .wrapper .four {
  opacity: 0;
  transform: translate3d(-182px, 0, 0);
}

.container .container-wrapper .page-slide.swiper-slide20 .wrapper .four div {
  margin-top: 120px;
  height: 647px;
  background: url('../img/20/four.jpg') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide20 .wrapper .four span {
  display: block;
  margin-top: 20px;
  width: 159px;
  height: 23px;
  background: url('../img/20/word-four.png') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide20 .br {
  width: 750px;
  height: 31px;
  margin-top: 45px;
  background: url('../img/20/br.png') no-repeat 50%;
  background-size: 100% 100%;
  transform: translate3d(750px, 0, 0);
}

.container .container-wrapper .page-slide.swiper-slide20 .name {
  width: 464px;
  height: 0;
  margin: 27px auto 0;
  background: url('../img/20/name.png') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .page-slide.swiper-slide20 .title {
  width: 570px;
  height: 40px;
  margin: 37px auto 0;
  opacity: 0;
  transform: rotate(-360deg) scale(3);
  background: url('../img/20/title.png') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .swiper-slide21 {
  background: #f4f5f5;
}

.container .container-wrapper .swiper-slide21 .huangshan {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container .container-wrapper .swiper-slide21 .taipinghu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url('../img/21-29/bg12.jpg') no-repeat;
  background-size: 100% 100%;
  z-index: 10;
  transform: translate3d(-100%, 0, 0);
}

.container .container-wrapper .swiper-slide21 .taipinghu .hint {
  position: absolute;
  left: 140px;
  bottom: 0;
  width: 275px;
  height: 247px;
  background: url('../img/21-29/scenery-hint2.png') no-repeat;
  opacity: 0;
}

.container .container-wrapper .swiper-slide21 h2 {
  font-size: 0;
  position: absolute;
  left: 125px;
  top: 152px;
  width: 169px;
  height: 396px;
  background: url('../img/21-29/on-yellow.png') no-repeat;
  z-index: 2;
  transform: translate3d(-200%, 0, 0);
}

.container .container-wrapper .swiper-slide21 .yun {
  position: absolute;
  left: 0;
  top: 0;
  width: 750px;
  height: 100%;
  background-image: url('../img/1-6/yunduo.png');
  background-repeat: repeat-x;
  background-size: 100%;
  opacity: 0.7;
  z-index: 1;
  transform: scale(1.5);
  background-position: 0 25px;
}

.container .container-wrapper .swiper-slide21 .hint {
  position: absolute;
  left: 0;
  bottom: 100px;
  width: 100%;
  height: 150px;
  background: url('../img/21-29/scenery-hint1.png') no-repeat;
  z-index: 5;
}

.container .container-wrapper .swiper-slide21 .shan {
  position: absolute;
  left: 0;
  top: 300px;
  width: 100%;
  height: 711px;
  background: url('../img/21-29/WechatIMG235.jpg') no-repeat -175px 0;
  background-size: 800px 711px;
  transform: scale(1.5);
}

.container .container-wrapper .swiper-slide21 .shan .bird1 {
  position: absolute;
  right: 175px;
  top: 100px;
  width: 233px;
  height: 231px;
  background: url('../img/21-29/bird1.png') no-repeat;
  transform: scale(0.7);
}

.container .container-wrapper .swiper-slide21 .shan .bird2 {
  position: absolute;
  right: 230px;
  top: 0;
  width: 264px;
  height: 232px;
  background: url('../img/21-29/bird2.png') no-repeat;
  transform: scale(0.7);
}

.container .container-wrapper .swiper-slide21 .car {
  position: absolute;
  left: 50%;
  bottom: 212px;
  width: 622px;
  height: 485px;
  background: url("../img/21-29/car-shadow.png") no-repeat 50%;
  margin-left: -311px;
  z-index: 11;
}

.container .container-wrapper .swiper-slide82 {
  background: url('../img/21-29/bg13.jpg') no-repeat;
}

.container .container-wrapper .swiper-slide82 .car {
  position: absolute;
  left: 50%;
  bottom: 212px;
  width: 622px;
  height: 485px;
  background: url("../img/21-29/car-shadow.png") no-repeat 50%;
  margin-left: -311px;
  z-index: 5;
}

.container .container-wrapper .swiper-slide82 .hint {
  position: absolute;
  left: 140px;
  bottom: 0;
  width: 275px;
  height: 247px;
  background: url('../img/21-29/scenery-hint2.png') no-repeat;
  opacity: 0;
}

.container .container-wrapper .swiper-slide83 {
  background: url('../img/21-29/bg14.jpg') no-repeat 50% 100%;
  background-position: 50% 100%;
}

.container .container-wrapper .swiper-slide83 .car {
  position: absolute;
  left: 50%;
  bottom: 212px;
  width: 622px;
  height: 485px;
  background: url("../img/21-29/car-shadow.png") no-repeat 50%;
  margin-left: -311px;
  z-index: 5;
}

.container .container-wrapper .swiper-slide83 .hint {
  position: absolute;
  left: 140px;
  bottom: 0;
  width: 275px;
  height: 247px;
  background: url('../img/21-29/scenery-hint3.png') no-repeat;
  z-index: 1;
  opacity: 0;
}

.container .container-wrapper .swiper-slide83 .shan {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 390px;
  background: url('../img/21-29/WechatIMG235.jpg') no-repeat -175px 0;
  background-size: 800px 711px;
  transform: scale(1.5);
  opacity: 0.5;
}

.container .container-wrapper .flower {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.container .container-wrapper .flower span {
  position: absolute;
  left: 0;
  top: 500px;
  transform: translate3d(-50px, 0, 0);
}

.container .container-wrapper .flower .hua1,
.container .container-wrapper .flower .hua6,
.container .container-wrapper .flower .hua11,
.container .container-wrapper .flower .hua19 {
  background: url("../img/hua/huaban1.png") no-repeat;
  width: 28px;
  height: 29px;
}

.container .container-wrapper .flower .hua2,
.container .container-wrapper .flower .hua7,
.container .container-wrapper .flower .hua10,
.container .container-wrapper .flower .hua18 {
  background: url("../img/hua/huaban2.png") no-repeat;
  width: 33px;
  height: 22px;
}

.container .container-wrapper .flower .hua3,
.container .container-wrapper .flower .hua8,
.container .container-wrapper .flower .hua12,
.container .container-wrapper .flower .hua17 {
  background: url("../img/hua/huaban3.png") no-repeat;
  width: 23px;
  height: 18px;
}

.container .container-wrapper .flower .hua4,
.container .container-wrapper .flower .hua9,
.container .container-wrapper .flower .hua13,
.container .container-wrapper .flower .hua16 {
  background: url("../img/hua/huaban4.png") no-repeat;
  width: 23px;
  height: 21px;
}

.container .container-wrapper .flower .hua5,
.container .container-wrapper .flower .hua0,
.container .container-wrapper .flower .hua14,
.container .container-wrapper .flower .hua15 {
  background: url("../img/hua/huaban5.png") no-repeat;
  width: 26px;
  height: 22px;
}

.container .container-wrapper .swiper-slide26 {
  background: url('../img/21-29/bg15.jpg') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .swiper-slide26 p {
  font-size: 0;
  width: 62px;
  height: 509px;
  background: url('../img/21-29/yun15.png') no-repeat 50%;
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -230px;
  transform: translate3d(150%, 0, 0);
}

.container .container-wrapper .swiper-slide26 .yun {
  position: absolute;
  left: 0;
  width: 750px;
  height: 800px;
  background-image: url('../img/1-6/yunduo.png');
  background-repeat: repeat-x;
  background-size: 100%;
  background-position: 0 100%;
  transform: scale(1.2);
}

.container .container-wrapper .swiper-slide26 .yunduo {
  top: 0;
}

.container .container-wrapper .swiper-slide26 .yundu {
  bottom: 0;
  transform: rotate(180deg);
}

.container .container-wrapper .swiper-slide28 {
  background: url('../img/21-29/bg28.jpg') no-repeat 50% 100%;
  background-size: 100% 100%;
}

.container .container-wrapper .swiper-slide28 h2 {
  font-size: 0;
  margin: 85px auto 0;
  width: 226px;
  height: 289px;
  background: url('../img/21-29/hint28.png') no-repeat 50%;
  position: relative;
  z-index: 1;
}

.container .container-wrapper .swiper-slide28 ul {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.container .container-wrapper .swiper-slide28 ul li {
  position: absolute;
  width: 25px;
  height: 397px;
  background: url('../img/21-29/wap-hint.png') no-repeat 50%;
  font-size: 26px;
  line-height: 30px;
  padding: 40px 24px 0 15px;
  color: #a72126;
  opacity: 0;
}

.container .container-wrapper .swiper-slide28 ul li:nth-of-type(1) {
  left: 66px;
  bottom: 148px;
}

.container .container-wrapper .swiper-slide28 ul li:nth-of-type(2) {
  left: 278px;
  bottom: 282px;
  height: 422px;
  padding-top: 15px;
}

.container .container-wrapper .swiper-slide28 ul li:nth-of-type(3) {
  right: 225px;
  bottom: 226px;
}

.container .container-wrapper .swiper-slide28 ul li:nth-of-type(4) {
  right: 60px;
  bottom: 398px;
}

.container .container-wrapper .swiper-slide28 .layer {
  display: none;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.container .container-wrapper .swiper-slide28 .layer figure {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 634px;
  height: 566px;
  margin: -283px 0 0 -317px;
}

.container .container-wrapper .swiper-slide28 .layer figure img {
  width: 100%;
}

.container .container-wrapper .swiper-slide28 .layer figure em {
  position: absolute;
  right: 0;
  top: -70px;
  width: 60px;
  height: 60px;
  font-family: "Three";
  color: #fff;
  font-size: 30px;
  line-height: 60px;
  text-align: right;
}

.container .container-wrapper .swiper-slide29 {
  background: url('../img/21-29/bg16.jpg') no-repeat 50%;
  background-size: 100% 100%;
}

.container .container-wrapper .swiper-slide29 p {
  font-size: 0;
  margin: 130px auto 55px;
  width: 494px;
  height: 115px;
  background: url('../img/21-29/end-hint.png') no-repeat 50%;
  position: relative;
  z-index: 1;
  transform: translate3d(0, 0, -3000px) scale(0);
}

.container .container-wrapper .swiper-slide29 .code {
  position: relative;
  z-index: 1;
  width: 198px;
  height: 279px;
  margin: 0 auto;
  padding: 80px 40px 0;
  background: url('../img/21-29/erweima.png') no-repeat 50%;
  text-align: center;
  opacity: 0;
}

.container .container-wrapper .swiper-slide29 .code img {
  width: 195px;
  height: 195px;
}

.container .container-wrapper .swiper-slide29 .yun {
  position: absolute;
  left: 0;
  top: 0;
  width: 750px;
  height: 100%;
  background-image: url('../img/1-6/yunduo.png');
  background-repeat: repeat-x;
  background-size: 100%;
}

.container .container-wrapper .page-slide.swiper-slide-active .logo {
  transform: translate3d(0, 0, 0) scale(1);
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide1 h1 {
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide1 footer {
  transform: translate3d(0, 0, 0) scale(1);
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide2 figure {
  animation: widthwenzi linear 3s 0.4s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide2 .yun {
  animation: yunduo linear 15s infinite;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide3 .yun {
  animation: yunduo linear 15s infinite;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide3 footer {
  transform: translate3d(0, 0, 0) scale(1);
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide3 .cars .car1 em {
  animation: cardeng linear 2s 0.5s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide3 .cars .car1,
.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide3 .cars .car2,
.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide3 .cars .car3 {
  transform: translate3d(0, 0, 0) scale(1);
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide3 .cars .car1 em,
.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide3 .cars .car2 em,
.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide3 .cars .car3 em {
  transform: translate3d(0, 0, 0) scale(1);
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide7 .yun-wrapper .cloud {
  transform: translate3d(0, 0, 0);
  transition: all 1s ease-in-out;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide7 .yun-wrapper .big-cloud {
  transform: translate3d(0, 0, 0);
  transition: all 1s ease-in-out;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide7 .zi-wrapper .title {
  transform: scale(1);
  transition: all 0.5s ease-in-out 1s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide7 .zi-wrapper .niao {
  transition: all 3s ease-in-out;
  transform: translate3d(-60px, -110px, 0) scale(1);
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide7 .car {
  transform: translate3d(-65px, 0, 0);
  transition: all 0.6s ease-in-out 2s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide7 .car > div {
  opacity: 1;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide7 .car .concerns1 {
  transition: all 0.6s ease-in-out 2.6s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide7 .car .concerns2 {
  transition: all 0.6s ease-in-out 3.2s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide7 .car .concerns3 {
  transition: all 0.6s ease-in-out 3.8s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide7 .car .concerns4 {
  transition: all 0.6s ease-in-out 4.4s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide7 .car .concerns5 {
  transition: all 0.6s ease-in-out 5s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide7 .car .concerns6 {
  transition: all 0.6s ease-in-out 5.6s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide8 .word {
  height: 134px;
  transition: all 0.6s ease-in-out;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide8 .word-bg {
  opacity: 1;
  transform: rotate(0) scale(1);
  transition: all 0.6s ease-in-out 0.6s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide8 .car1 .content {
  transform: translate3d(-58px, -83px, 0) scale(1);
  transition: all 0.6s ease-in-out 1.2s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide8 .car2 {
  transform: translate3d(-10px, -69px, 0);
  transition: all 0.6s ease-in-out 1.8s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide8 .car3 {
  transform: translate3d(-10px, -69px, 0);
  transition: all 0.6s ease-in-out 2.4s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide9 .wrapper .swiper-slide-active.content1 .name {
  transform: translate3d(0, 0, 0);
  transition: all 0.6s ease-in-out;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide9 .wrapper .swiper-slide-active.content1 .describe {
  transform: translate3d(0, 0, 0);
  transition: all 0.6s ease-in-out;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide9 .wrapper .swiper-slide-active.content2 .scenery {
  opacity: 1;
  transition: all 1.2s ease-in-out;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide9 .wrapper .swiper-slide-active .scenery {
  opacity: 1;
  transition: all 1.2s ease-in-out;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide9 .wrapper .swiper-slide-active .describe div {
  transform: translate3d(0, 0, 0);
  transition: all 1.8s ease-in-out;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide9 .wrapper .swiper-slide-active .indexes {
  transform: translate3d(0, 0, 0);
  transition: all 1s ease-in-out;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide14 .wrapper .content1 .title {
  width: 271px;
  transition: all 0.6s ease-in-out;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide19 .name {
  transform: translate3d(0, 0, 0);
  transition: all 1s ease-in-out;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide19 .title {
  transform: translate3d(0, 0, 0);
  transition: all 1s ease-in-out;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide20 .wrapper .one {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.6s ease-in-out;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide20 .wrapper .two {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.6s ease-in-out 0.6s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide20 .wrapper .three {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.6s ease-in-out 1.2s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide20 .wrapper .four {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.6s ease-in-out 1.8s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide20 .br {
  transform: translate3d(0, 0, 0);
  transition: all 0.6s ease-in-out 1.8s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide20 .name {
  height: 61px;
  transition: all 0.6s ease-in-out 1.8s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide20 .title {
  opacity: 1;
  transform: rotate(0) scale(1);
  transition: all 0.6s ease-in-out 2.4s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide21 .huangshan {
  transition: all 2s linear 5.5s;
  transform: translate3d(100%, 0, 0);
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide21 .huangshan .hint {
  animation: lightSpeedIn ease-out 1s 0.2s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide21 .taipinghu {
  transition: all 2s linear 5.5s;
  transform: translate3d(0, 0, 0);
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide21 .taipinghu .hint {
  animation: rotateInDownRight ease-out 1s 7s;
  animation-fill-mode: forwards;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide21 h2 {
  animation: fadeInLeft linear 1s 4s;
  animation-fill-mode: forwards;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide21 .yun {
  animation: yunduo linear 8s infinite;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide21 .car {
  animation: bounceInRight linear 2.5s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide21 .shan {
  animation: shanBgAnimtion linear 5s 0.3s;
  animation-fill-mode: forwards;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide21 .shan .bird1 {
  animation: birdAnimtion1 linear 5s 0.3s;
  animation-fill-mode: forwards;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide21 .shan .bird2 {
  animation: birdAnimtion2 linear 7s;
  animation-fill-mode: forwards;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide82,
.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide83 {
  animation: swiperBgAnimtion linear 4s;
  animation-fill-mode: forwards;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide82 .car,
.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide83 .car {
  animation: bounceInRight linear 2.5s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide82 .hint,
.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide83 .hint {
  animation: rotateInDownRight ease-out 1s 0.2s;
  animation-fill-mode: forwards;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide82 .shan,
.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide83 .shan {
  animation: shanBgAnimtion linear 20s 0.3s;
  animation-fill-mode: forwards;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide26 .yunduo {
  transition: all 2s linear .5s;
  transform: translate3d(0, -100%, 0);
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide26 .yundu {
  transition: all 2s linear .5s;
  transform: translate3d(0, 100%, 0) rotate(180deg);
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide26 p {
  animation: fadeInRight linear 1s 2.3s;
  animation-fill-mode: forwards;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide28 h2 {
  animation: zoomInLeft linear 1.5s;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide28 ul li:nth-of-type(1) {
  animation: bounceInRight linear 1.5s 2.5s;
  animation-fill-mode: forwards;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide28 ul li:nth-of-type(2) {
  animation: bounceInRight linear 1.5s 2s;
  animation-fill-mode: forwards;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide28 ul li:nth-of-type(3) {
  animation: bounceInRight linear 1.5s 1.5s;
  animation-fill-mode: forwards;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide28 ul li:nth-of-type(4) {
  animation: bounceInRight linear 1.5s 1s;
  animation-fill-mode: forwards;
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide29 p {
  transition: all 1s linear .5s;
  transform: translate3d(0, 0, 0) scale(1);
}

.container .container-wrapper .page-slide.swiper-slide-active.swiper-slide29 .code {
  animation: flipInY linear 2s 1s;
  animation-fill-mode: forwards;
}

.container .container-wrapper .page-slide.swiper-slide-active .flower .hua1 {
  animation: huaAnima1 linear 6s infinite;
}

.container .container-wrapper .page-slide.swiper-slide-active .flower .hua2 {
  animation: huaAnima2 linear 6s infinite;
}

.container .container-wrapper .page-slide.swiper-slide-active .flower .hua3 {
  animation: huaAnima3 linear 6s infinite 1s;
}

.container .container-wrapper .page-slide.swiper-slide-active .flower .hua4 {
  animation: huaAnima4 linear 6s infinite;
}

.container .container-wrapper .page-slide.swiper-slide-active .flower .hua5 {
  animation: huaAnima5 linear 6s infinite 1s;
}

.container .container-wrapper .page-slide.swiper-slide-active .flower .hua6 {
  animation: huaAnima6 linear 6s infinite;
}

.container .container-wrapper .page-slide.swiper-slide-active .flower .hua7 {
  animation: huaAnima7 linear 6s infinite 5s;
}

.container .container-wrapper .page-slide.swiper-slide-active .flower .hua8 {
  animation: huaAnima8 linear 6s infinite 4s;
}

.container .container-wrapper .page-slide.swiper-slide-active .flower .hua9 {
  animation: huaAnima9 linear 6s infinite 3s;
}

.container .container-wrapper .page-slide.swiper-slide-active .flower .hua0 {
  animation: huaAnima0 linear 6s infinite 2s;
}

.container .container-wrapper .page-slide.swiper-slide-active .flower .hua11 {
  animation: huaAnima1 linear 6s infinite 1s;
}

.container .container-wrapper .page-slide.swiper-slide-active .flower .hua12 {
  animation: huaAnima2 linear 6s infinite 5s;
}

.container .container-wrapper .page-slide.swiper-slide-active .flower .hua13 {
  animation: huaAnima3 linear 6s infinite 4s;
}

.container .container-wrapper .page-slide.swiper-slide-active .flower .hua14 {
  animation: huaAnima4 linear 6s infinite 3s;
}

.container .container-wrapper .page-slide.swiper-slide-active .flower .hua15 {
  animation: huaAnima5 linear 6s infinite 2s;
}

.container .container-wrapper .page-slide.swiper-slide-active .flower .hua16 {
  animation: huaAnima6 linear 6s infinite 1s;
}

.container .container-wrapper .page-slide.swiper-slide-active .flower .hua17 {
  animation: huaAnima7 linear 6s infinite 5s;
}

.container .container-wrapper .page-slide.swiper-slide-active .flower .hua18 {
  animation: huaAnima8 linear 6s infinite 4s;
}

.container .container-wrapper .page-slide.swiper-slide-active .flower .hua19 {
  animation: huaAnima9 linear 6s infinite 3s;
}

.container .container-wrapper .page-slide.swiper-slide-active .flower .hua10 {
  animation: huaAnima0 linear 6s infinite 2s;
}

@keyframes huaAnima1 {
  0% {
    opacity: 1;
    transform: translate3d(-50px, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(400px, 700px, 0) rotate(10deg);
  }
}

@keyframes huaAnima2 {
  0% {
    opacity: 1;
    transform: translate3d(-50px, 200, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(690px, 400px, 0) rotate(-10deg);
  }
}

@keyframes huaAnima3 {
  0% {
    opacity: 1;
    transform: translate3d(-50px, 80px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(570px, 600px, 0) rotate(10deg);
  }
}

@keyframes huaAnima4 {
  0% {
    opacity: 1;
    transform: translate3d(-50px, 100px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(600px, 500px, 0) rotate(5deg);
  }
}

@keyframes huaAnima5 {
  0% {
    opacity: 1;
    transform: translate3d(-50px, 75px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(460px, 400px, 0) rotate(3deg);
  }
}

@keyframes huaAnima6 {
  0% {
    opacity: 1;
    transform: translate3d(-50px, 240px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(630px, 360px, 0) rotate(10deg);
  }
}

@keyframes huaAnima7 {
  0% {
    opacity: 1;
    transform: translate3d(-50px, 200px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(770px, 630px, 0);
  }
}

@keyframes huaAnima8 {
  0% {
    opacity: 1;
    transform: translate3d(-50px, 350px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(500px, 200px, 0);
  }
}

@keyframes huaAnima9 {
  0% {
    opacity: 1;
    transform: translate3d(-50px, 120px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(670px, 460px, 0);
  }
}

@keyframes huaAnima0 {
  0% {
    opacity: 1;
    transform: translate3d(-50px, 400px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(700px, 200px, 0) rotate(-10deg);
  }
}

@keyframes flipInY {
  0% {
    transform: perspective(400px) rotateY(90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotateY(-20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotateY(10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotateY(-5deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes zoomInLeft {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes rotateInDownRight {
  0% {
    transform-origin: right bottom;
    transform: rotate(45deg);
    opacity: 0;
  }

  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1;
  }
}

@keyframes swiperBgAnimtion {
  0% {
    background-size: 100% 100%;
  }

  to {
    background-size: 110% 100%;
  }
}

@keyframes shanBgAnimtion {
  0% {
    background-position: -175px 0;
  }

  to {
    background-position: 100px 0;
  }
}

@keyframes birdAnimtion1 {
  0% {
    transform: translate3d(-40px, 0, 0) scale(0);
  }

  80% {
    transform: translate3d(0, 0, 0) scale(1.3);
  }

  to {
    transform: translate3d(80px, 40px, 0) scale(1);
    opacity: 0;
  }
}

@keyframes birdAnimtion2 {
  0% {
    transform: translate3d(400px, 0, 0) scale(1);
  }

  to {
    transform: translate3d(-800px, -500px, 0) scale(0);
    opacity: 0;
  }
}

@keyframes bounceInRight {
  0%, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes lightSpeedIn {
  0% {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    transform: skewX(-5deg);
    opacity: 1;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}

@keyframes cardeng {
  from {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  34% {
    opacity: 0;
  }

  54% {
    opacity: 1;
  }

  72% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes yunduo {
  from {
    transform: translate3d(0, 0, 0) scale(1.2);
  }

  50% {
    transform: translate3d(-50px, -50px, 0) scale(1.2);
  }

  to {
    transform: translate3d(0, 0, 0) scale(1.2);
  }
}

@keyframes flowerAnimation {
  from {
    transform: translate3d(-685px, -825px, 0);
  }

  20% {
    transform: translate3d(-548px, -660px, 0) scale(1.02);
  }

  40% {
    transform: translate3d(-411px, -495px, 0) scale(1);
  }

  60% {
    transform: translate3d(-274px, -330px, 0) scale(1.02);
  }

  80% {
    transform: translate3d(-137px, -165px, 0) scale(1.02);
  }

  to {
    transform: translate3d(0, 0, 0) scale(1);
  }
}

@keyframes widthwenzi {
  from {
    width: 0;
  }

  to {
    width: 178px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale3d(0.5, 0.5, 0.5);
    opacity: 1;
  }

  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes next-animation {
  0% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  25% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
}

@keyframes next-right-animation {
  0% {
    -webkit-transform: translate3d(5px, 0, 0) rotate(-90deg);
    transform: translate3d(5px, 0, 0) rotate(-90deg);
  }

  25% {
    -webkit-transform: translate3d(-5px, 0, 0) rotate(-90deg);
    transform: translate3d(-5px, 0, 0) rotate(-90deg);
  }

  50% {
    -webkit-transform: translate3d(5px, 0, 0) rotate(-90deg);
    transform: translate3d(5px, 0, 0) rotate(-90deg);
  }

  75% {
    -webkit-transform: translate3d(-5px, 0, 0) rotate(-90deg);
    transform: translate3d(-5px, 0, 0) rotate(-90deg);
  }

  to {
    -webkit-transform: translate3d(5px, 0, 0) rotate(-90deg);
    transform: translate3d(5px, 0, 0) rotate(-90deg);
  }
}

@keyframes bigcloud {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  25% {
    -webkit-transform: translate3d(50px, 0, 0);
    ransform: translate3d(50px, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(100px, 0, 0);
    ransform: translate3d(100px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(50px, 0, 0);
    ransform: translate3d(50px, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}